name: CI - Mithilan

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Action 1: Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4

      # Action 2: Set up Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      # Run your assignment file
      - name: Run assignment file
        run: python MithAssignment2.py
